@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2017-04-13 14:52:46
 * @version $Id$
 */
.box{
	width: 800px;
	height: 400px;
}
.box1{
	width: 120px;
	height: 120px;
	background: gray;
	margin:10px;
	float: left;	
	display: flex;
	align-items: center;
}
.box2{
	margin-top:100px;
	margin-left: 180px;
	position: absolute;
	width: 400px;
	height: 400px;
	float: left;
	display: none;
	align-items: center;
	background-color: gray;
	padding: 10px;
}