@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2017-04-07 11:41:15
 * @version $Id$
 */
 .taobao-body-wholebg{
 	width: 1200px;
 	height: 770px;
 	margin-top: 20px;
 	border-style: solid;
 	border-width: 1px;
 	background-color: rgb(242,242,242);
 }
 .bg3-body-Wholebg{
 	width: 1200px;
 	height: 370px;
 	margin-top: 5px;
 	display: flex;
	flex-direction: row;
 }
 .bg3-body-Wholebg1{
 	width: 1200px;
 	height: 370px;
 	margin-top: 10px;
 	display: flex;
	flex-direction: row;
 }
.bg3-body-wholebg{
	width: 390px;
	height: 370px;
	margin:5px;
	border-style:solid;
	border-color:rgb(238,238,238);
	border-width:1px 0 0 1px;
	display: flex;
	flex-direction: column;
}
.bg3-body-firstbg{
	width: 390px;
	height: 260px;
}
.bg3-body-secondbg{
	width: 390px;
	height: 110px;
	background-color: rgb(255,230,244);
	display: flex;
	flex-direction: column;
}
.bg3-body-insecondbg1{
	width: 370px;
	height: 20px;
	margin-top: 10px;
	margin-left: 10px;
	font-size: 15px;
}
.bg3-body-insecondbg2{
	width: 370px;
	height: 20px;
	margin-top: 10px;
	margin-left: 10px;
	border-color: black;
	color: rgb(246,11,65);
	font-size: 15px;
}
.bg3-body-insecondbg3{
	width: 370px;
	height: 30px;
	margin-top: 10px;
	margin-left: 10px;
	display: flex;
	flex-direction:row;
}
.bg3-body-insecondbg3-1{
	width: 10px;
	height: 30px;
	color: rgb(246,11,65);
	margin-top:5px;
	margin-left:5px;
	font-size: 15px;
}
.bg3-body-insecondbg3-2{
	width: 100px;
	height: 30px;
	color: rgb(246,11,65);
	font-size: 20px;
}
.bg3-body-insecondbg3-3{
	width: 190px;
	height: 30px;
	margin-top: 15px;
	font-size: 10px;
}
.bg3-body-insecondbg3-4{
	width: 60px;
	height: 30px;
	margin-top: 15px;
	font-size: 10px;
}