@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2017-04-07 11:41:15
 * @version $Id$
 */
.bg2-body-wholebg{
	width: 390px;
	height: 370px;
	margin-top: 20px;
	border-style: solid;
	border-width: 1px;
	display: flex;
	flex-direction: column;
}
.bg2-body-firstbg{
	width: 390px;
	height: 260px;
	border-style: solid;
	border-width: 1px;
}
.bg2-body-secondbg{
	width: 390px;
	height: 110px;
	border-style: solid;
	border-width: 1px;
	background-color: rgb(255,230,244);
	display: flex;
	flex-direction: column;
}
.bg2-body-insecondbg1{
	width: 370px;
	height: 20px;
	margin-top: 10px;
	margin-left: 10px;
	border-style: solid;
	border-width: 1px;
	font-size: 15px;
	background-color: white;
}
.bg2-body-insecondbg2{
	width: 370px;
	height: 20px;
	margin-top: 10px;
	margin-left: 10px;
	border-style: solid;
	border-width: 1px;
	background-color: white;
	border-color: black;
	color: rgb(246,11,65);
	font-size: 15px;
}
.bg2-body-insecondbg3{
	width: 370px;
	height: 30px;
	margin-top: 10px;
	margin-left: 10px;
	border-style: solid;
	border-width: 1px;
	display: flex;
	flex-direction:row;
	background-color: white;
}
.bg2-body-insecondbg3-1{
	width: 10px;
	height: 30px;
	color: rgb(246,11,65);
	margin-top:5px;
	margin-left:5px;
	font-size: 15px;
}
.bg2-body-insecondbg3-2{
	width: 100px;
	height: 30px;
	color: rgb(246,11,65);
	font-size: 20px;
}
.bg2-body-insecondbg3-3{
	width: 190px;
	height: 30px;
	margin-top: 15px;
	font-size: 10px;
}
.bg2-body-insecondbg3-4{
	width: 60px;
	height: 30px;
	margin-top: 15px;
	font-size: 10px;
}