@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2017-03-17 09:23:40
 * @version $Id$
 */
 #box{
 	width: 1100px;
 	height: 430px;
 	background-color: lightgray;

 }
 #box{
 	width: 400px;
 	height: 400px;
 	background-color: black;
 	float: left;
 	margin: 10px;
 }
#box11{
	width: 200px;
	height: 200px;
	background-color: black;
	float: left;
	margin: 10px;
	background-color: black;
}
