@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2017-03-24 09:22:01
 * @version $Id$
 */
#box{
	width: 300px;
	height: 600px;
	margin: 10px;
	border-style: solid;
	float: top;

}
#title{
    width:280px;
    height:150px;
    position: relative;
    margin: 10px;


}
#box1{
	width: 280px;
	margin: 10px;
	height: 100px;
}
#button1{
	width:280px;
	margin: 10px;
	height: 35px; 
}
#box2{
	width: 280px;
	margin: 10px;
	height: 50px;
}
#function1{
	width: 280px;
	margin: 10px;
	height: 200px;
}
#tbox{
	width: 50px;
	height:50px;
	float: left;
	margin:0px;
	border-style: solid;
}
#text1{
	width: 280px;
	height: 25px;
	margin-top: 10px;
}
#red1{
	width: 100px;
	height: 100px;
	margin:0px;
	float: left;
}
#text2{
	width: 150px;
	height: 25px;
	margin-top: 10px;
	margin-left: 10px;
	float: left;
}
#red2{
	width: 75px;
	height: 25px;
	margin-top: 10px;
	margin-left: 8px;
}
#red3{
	width: 150px;
	height: 100px;
    float: left;
}
#red4{
	width: 40px;
	height: 50px;
	float: left;
}
#red5{
	width: 50px;
	height: 50px;
	float: left;
	margin-left: 5px;
}